# 디폴트 무시된 파일
/../../../../체체코코/2주차/_14503/.idea/shelf/
/../../../../체체코코/2주차/_14503/.idea/workspace.xml
# 에디터 기반 HTTP 클라이언트 요청
/../../../../체체코코/2주차/_14503/.idea/httpRequests/
# Datasource local storage ignored files
/../../../../체체코코/2주차/_14503/.idea/dataSources/
/../../../../체체코코/2주차/_14503/.idea/dataSources.local.xml
